<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 定义受环境影响易变的变量 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath:redis-config.properties</value>
                <value>classpath:jdbc_JDNI.properties</value>
            </list>
        </property>
    </bean>

    <context:annotation-config />

    <!-- 扫描com.hdg.dao包下所有标注@Repository的DAO组件 -->
    <context:component-scan base-package="com.hdg.dao"/>
    <!-- 扫描com.hdg.service包下所有标注@Service的服务组件 -->
    <context:component-scan base-package="com.hdg.service"/>
    <context:component-scan base-package="com.hdg.http"/>

    <!-- 启动@AspectJ支持 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 指定自动搜索Bean组件，自动搜索切面类 -->
    <context:component-scan base-package="com.hdg.aspect"/>

    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"></bean>
    <!--序列化工具类SerializableByMapper-->
    <bean id="serializableByMapper" class="com.hdg.util.serializable.impl.SerializableByMapper">
        <property name="objectMapper" ref="objectMapper"></property>
        <property name="serializationInclusion" value="NON_EMPTY"></property>
    </bean>
    <!--序列化工具类serializbleByJson-->
    <bean id="serializbleByJson" class="com.hdg.util.serializable.impl.SerializbleByJson"></bean>
    <!--序列化工具类serializableByStream-->
    <bean id="serializableByStream" class="com.hdg.util.serializable.impl.SerializableByStream"></bean>
    <!--ip工具类-->
    <bean id="ipAddress" class="com.hdg.util.other.IpAddressUtil">
        <property name="basicService" ref="basicServiceImpl"></property>
    </bean>

    <bean id="phoneCodeParam" class="com.hdg.entity.basic.PhoneCodeParam" scope="prototype">
        <property name="appKey" value="eb32cc5b97b019085965531f40ec981f"></property>
        <property name="url" value="https://api.netease.im/sms/sendcode.action"></property>
        <property name="appSecret" value="684a2ff1eb1a"></property>
        <property name="nonce" value="12345"></property>
        <property name="templateId" value="3055782"></property>
        <property name="codeLen" value="6"></property>
    </bean>
</beans>